.product {
	display: grid;

	margin-top: 30px;
	padding: 30px;
	grid-template-columns: 70px 30px calc(50% - 100px) auto 40px auto 40px auto;
	grid-template-areas:
		"logo . title price . credit . rating"
		"logo . tags priceTitle .  creditTitle . rateTitle"
		"firstHr firstHr firstHr firstHr firstHr firstHr firstHr firstHr"
		"description description description description description description description description"
		"feature feature feature advBlock advBlock advBlock advBlock advBlock"
		"secondHr secondHr secondHr secondHr secondHr secondHr secondHr secondHr"
		"actions actions actions . . . . .";
}

.logo {
	grid-area: logo;

	max-width: 70px;
	max-height: 70px;

	border-radius: 5px;
}

.title {
	display: flex;
	align-items: center;
	grid-area: title;
}

.price {
	display: flex;
	align-items: center;

	white-space: nowrap;
	grid-area: price;
}

.credit {
	display: flex;
	align-items: center;
	grid-area: credit;
}

.rating {
	display: flex;
	align-items: center;

	white-space: nowrap;
	grid-area: rating;
}

.tags {
	grid-area: tags;

	align-items: center;
}

.priceTitle {
	grid-area: priceTitle;

	white-space: nowrap;
}

.creditTitle {
	grid-area: creditTitle;
}

.rateTitle {
	grid-area: rateTitle;

	white-space: nowrap;
}

.firstHr {
	grid-area: firstHr;
}

.description {
	grid-area: description;

	margin-bottom: 15px;
}

.feature {
	grid-area: feature;
}

.advBlock {
	grid-area: advBlock;
}

.secondHr {
	grid-area: secondHr;
}

.actions {
	grid-area: actions;
}

.logo img {
	max-width: 70px;
	max-height: 70px;

	border-radius: 5px;
}

.title {
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

.category {
	margin-top: 7px;
}

.price,
.credit {
	font-size: 20px;
	line-height: 27px;
}

.priceTitle,
.creditTitle,
.rateTitle {
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
}

.rateTitle a {
	color: var(--primary);
}

.month {
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
}

.oldPrice {
	margin-left: 5px;
}

.description {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.learnButton {
	margin-right: 20px;
}

.advBlock {
	font-size: 16px;
	line-height: 22px;
}

.advTitle {
	margin-bottom: 5px;

	font-weight: 700;
}

.advantages {
	margin-bottom: 20px;
	padding-left: 15px;

	border-left: 2px solid var(--green);
}

.disadvantages {
	padding-left: 15px;

	border-left: 2px solid var(--red);
}

.characteristic {
	display: grid;
	align-items: baseline;

	padding-right: 60px;

	font-size: 16px;
	line-height: 32px;
	grid-template-columns: auto 1fr auto;
	gap: 10px;
}

.characteristicName {
	font-weight: 700;
}

.characteristicDots {
	margin-bottom: 5px;

	border-bottom: 1px dashed var(--gray-light);
}

.reviews {
	padding: 30px;
}

.visualyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

@media (width <= 1320px) {
	.product {
		padding: 20px;
		grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
		grid-template-areas:
			"logo . title title title title title"
			"logo . tags tags tags tags tags"
			"price price price . credit . rating"
			"priceTitle priceTitle priceTitle . creditTitle . rateTitle"
			"firstHr firstHr firstHr firstHr firstHr firstHr firstHr"
			"description description description description description description description"
			"feature feature feature feature feature feature feature"
			"advBlock advBlock advBlock advBlock advBlock advBlock advBlock"
			"secondHr secondHr secondHr secondHr secondHr secondHr secondHr"
			"actions actions actions actions actions actions actions";
	}

	.feature {
		margin-bottom: 20px;
	}
}

@media (width <= 640px) {
	.product {
		grid-template-columns: 70px 30px 1fr;
		grid-template-areas:
			"logo . title"
			"logo . tags"
			"priceTitle priceTitle price"
			"creditTitle creditTitle credit"
			"rateTitle rateTitle rating"
			"firstHr firstHr firstHr"
			"description description description"
			"feature feature feature"
			"advBlock advBlock advBlock"
			"secondHr secondHr secondHr"
			"actions actions actions";
	}

	.price,
	.credit,
	.rating {
		margin-bottom: 10px;
	}
}

@media (width <= 480px) {
	.product {
		grid-template-columns: 1fr;
		grid-template-areas:
			"logo"
			"title"
			"tags"
			"price"
			"priceTitle"
			"credit"
			"creditTitle"
			"rating"
			"rateTitle"
			"firstHr"
			"description"
			"feature"
			"advBlock"
			"secondHr"
			"actions";
	}
}
